/* SELECTOR */
/* p - elemento a modificar*/
/* {} - llaves, todo lo que esté dentro se aplica al selector */

/* color - PROPIEDAD */
/* blue - VALOR */
/* PROPIEDAD - VALOR = DECLARACIÓN */

/* px - unidad de medida */

/* p {
    color: blue;
    font-size: 20px
}*/


h1 {
    font-size: 20px;
    color: #000000;
    /* rgb (0,0,0)
    rgba (0 0 0 0.5) */
}

h1 span{
    color:#037bc0;
}

h2 span {
    color: green;
}

/* COLORES
por Nombre, Hexadecimal, RGB, HSL, rgba*/
